.main {
    /* border: 1px solid red; */
    position: fixed;
    padding: 10px;
     display: flex;
     justify-content: space-between;
    width: 100%;
    top: 0px;
    z-index: 1000;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #1f5156;
}



.logo h3{
    /* border: 1px solid black; */
    color: white;
    margin-top: 18px;
}


.navlinks{
    /* border: 1px solid black; */

    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    text-decoration: underline;
}

button{
    margin-right: 20px;
    border: none;
    background: none;
    font-size: 20px;
}

.mobilemenu{
display: none;
}







@media(max-width:768px){
    a {
display: none;
}

.mobilemenu{
display: block;
}

  .navlinks {
    display: none;
  }

 .navlinksmobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: white;
  }

   ul li {
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }

    .mobilemenu {
    position: absolute;
    display: block;
    right: 20px;
  }
}
